{% extends "base.html" %}
{% block content %}

<div class="center">
	<form method="post">
        {% csrf_token %}
        <h2 class="text-center">Reset Password</h2>
        <label for="id_email">Email:</label> 
        <input type="email" name="email" autocomplete="email" maxlength="254">
		<div class="form-buttons">
        <input type="submit" value="Send" class="btn btn-primary">
        <a href="{%url 'login' %}" class="btn btn-outline">Login</a>
		</div>
	</form>
	</div>
{% endblock content %}